---
import '../styles/global.css'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + Basecoat UI Demo</title>
		
		<!-- Basecoat JavaScript (all components included) -->
		<script is:inline src="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.2/dist/js/all.min.js" defer></script>
	</head>
	<body>
		<slot />
		
		<!-- Toast container for Basecoat toasts -->
		<div id="toaster" class="toaster" data-align="end"></div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
