:root {
  --background: oklch(0.9640 0.0085 304.2185);
  --foreground: oklch(0.2338 0.0651 299.8496);
  --card: oklch(0.9459 0.0128 304.1508);
  --card-foreground: oklch(0.1896 0.0463 300.5199);
  --popover: oklch(0.9640 0.0085 304.2185);
  --popover-foreground: oklch(0.2338 0.0651 299.8496);
  --primary: oklch(0.5220 0.1732 16.5777);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4767 0.1438 299.3540);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9164 0.0108 304.1766);
  --muted-foreground: oklch(0.4700 0.0673 302.2431);
  --accent: oklch(0.9253 0.0228 6.0819);
  --accent-foreground: oklch(0.3463 0.1084 15.4715);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8704 0.0218 303.9860);
  --input: oklch(0.8704 0.0218 303.9860);
  --ring: oklch(0.5220 0.1732 16.5777);
  --chart-1: oklch(0.5220 0.1732 16.5777);
  --chart-2: oklch(0.4767 0.1438 299.3540);
  --chart-3: oklch(0.7263 0.1543 67.1779);
  --chart-4: oklch(0.6611 0.1326 236.6908);
  --chart-5: oklch(0.6444 0.0626 302.9428);
  --sidebar: oklch(0.9277 0.0172 304.0797);
  --sidebar-foreground: oklch(0.2763 0.0825 299.4191);
  --sidebar-primary: oklch(0.5220 0.1732 16.5777);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8939 0.0217 303.9977);
  --sidebar-accent-foreground: oklch(0.2763 0.0825 299.4191);
  --sidebar-border: oklch(0.8704 0.0218 303.9860);
  --sidebar-ring: oklch(0.5220 0.1732 16.5777);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 1rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(264, 45%, 15%);
  --shadow-2xs: 0px 4px 10px 0px hsl(264 45% 15% / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(264 45% 15% / 0.03);
  --shadow-sm: 0px 4px 10px 0px hsl(264 45% 15% / 0.05), 0px 1px 2px -1px hsl(264 45% 15% / 0.05);
  --shadow: 0px 4px 10px 0px hsl(264 45% 15% / 0.05), 0px 1px 2px -1px hsl(264 45% 15% / 0.05);
  --shadow-md: 0px 4px 10px 0px hsl(264 45% 15% / 0.05), 0px 2px 4px -1px hsl(264 45% 15% / 0.05);
  --shadow-lg: 0px 4px 10px 0px hsl(264 45% 15% / 0.05), 0px 4px 6px -1px hsl(264 45% 15% / 0.05);
  --shadow-xl: 0px 4px 10px 0px hsl(264 45% 15% / 0.05), 0px 8px 10px -1px hsl(264 45% 15% / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(264 45% 15% / 0.13);
  --tracking-normal: 0.01em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
